
USE [master]
GO
/****** Object:  Database [ProductBD]    Script Date: 1/17/2018 9:05:31 PM ******/
CREATE DATABASE [ProductBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.INDIA\MSSQL\DATA\ProductBD.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProductBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.INDIA\MSSQL\DATA\ProductBD_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductBD]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/17/2018 9:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 1/17/2018 9:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AId] [int] IDENTITY(1,1) NOT NULL,
	[AName] [nvarchar](max) NOT NULL,
	[AUserName] [nvarchar](max) NOT NULL,
	[AEmail] [nvarchar](max) NOT NULL,
	[APassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/17/2018 9:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[CName] [nvarchar](max) NOT NULL,
	[CUserName] [nvarchar](max) NOT NULL,
	[CEmail] [nvarchar](max) NOT NULL,
	[CPassword] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductInfoes]    Script Date: 1/17/2018 9:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInfoes](
	[PID] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](max) NOT NULL,
	[PPrice] [decimal](18, 2) NOT NULL,
	[PDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.ProductInfoes] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AId], [AName], [AUserName], [AEmail], [APassword]) VALUES (2, N'Iftekhar', N'Iftekhar', N'Iftekhar@gmail.com', N'12345')
INSERT [dbo].[Admins] ([AId], [AName], [AUserName], [AEmail], [APassword]) VALUES (3, N'sajib', N'sajib', N'sajib@gmail.com', N'12345')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CID], [CName], [CUserName], [CEmail], [CPassword]) VALUES (3, N'Razu', N'RazuBD', N'Razu@gmail.com', N'12345')
INSERT [dbo].[Customers] ([CID], [CName], [CUserName], [CEmail], [CPassword]) VALUES (7, N'Rahat', N'Rahat', N'rahat@gmail.com', N'12345')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[ProductInfoes] ON 

INSERT [dbo].[ProductInfoes] ([PID], [PName], [PPrice], [PDescription]) VALUES (11, N'Beef Burger', CAST(180.00 AS Decimal(18, 2)), N'Beef Burger is Awesome')
INSERT [dbo].[ProductInfoes] ([PID], [PName], [PPrice], [PDescription]) VALUES (12, N'Pizza', CAST(1200.00 AS Decimal(18, 2)), N'Pizza is really tasty.')
INSERT [dbo].[ProductInfoes] ([PID], [PName], [PPrice], [PDescription]) VALUES (13, N'Egg Burger', CAST(120.00 AS Decimal(18, 2)), N'Egg Burger is Nice.')
SET IDENTITY_INSERT [dbo].[ProductInfoes] OFF
/****** Object:  Index [IX_Admins]    Script Date: 1/17/2018 9:05:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Admins] ON [dbo].[Admins]
(
	[AId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customers]    Script Date: 1/17/2018 9:05:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customers] ON [dbo].[Customers]
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
